
<ol class="task-list">
  <% @animal.each do |animal| %>
    <li><h3><%= link_to animal.name, animal_path(animal) %></h3></li>
    <%= link_to "Edit", edit_animal_path(animal) %>
    <%= link_to "Delete", animal_path(animal), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</ol>